h1 {
    color: #fff;
    margin-left: 20%;
    display: flex;
    list-style: none;
    padding: 1vh;
    padding-top: 5vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    padding: 1vh;
}

li {
    margin-left: 20%;
    display: flex;
    list-style: none;
    padding: 1vh;
}

li a {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 1%;
}

li a:hover {
    color: rgb(35, 195, 239);
}
