* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  border-spacing: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #000000;
}

logo {
  width: 100%;
  height: 600px;
}

p {
  color: white;
}

.btncategoria {
  color: red;
}